<style>
    .menu-item.active .menu-link {
        color: #696cff;
        background-color: rgba(105, 108, 255, 0.16) !important;
    }
</style>
<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">신고 / </span>신고 관리
</h4>
<div style="background-color: #ededfa; padding: 30;">
    <form name="searchForm" action="" method="get" class="easydropdown">
        <input type="hidden" name="page" value="1">
        <select name="blameDiv" class="dropdown">
            <option value="" selected="selected">종류</option>
            <option value="0" <%if(blameDiv =="0"){%> selected="selected" <%}%>>게시글</option>
            <option value="1" <%if(blameDiv =="1"){%> selected="selected" <%}%>>댓글</option>
        </select>
        <button class="btn btn-primary" type="submit" id="searchAction" style="margin-bottom: 10px;">검색</button>
    </form>
    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header">※ 삭제시 원글(게시글/댓글)이 함께 삭제됩니다.</h5>
        <div class="table-responsive text-nowrap">
            <form id="eventForm" name="eventForm" action="" method="">
                <input type="hidden" id="blameId" name="blameId" value="" />
                <input type="hidden" name="page" value="1">
                <table class="table table-hove">
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="chkAll" id="chkAll" /></th>
                            <th>신고 번호</th>
                            <th>신고 사유</th>
                            <th>신고자</th>
                            <th>대상자</th>
                            <th>신고일</th>
                            <th>존재유무</th>
                            <th>종류</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <% if(results.length > 0){ %> <% for(var i = (page * page_num) - page_num; i < (page * page_num); i++) { 
                            if(i > length){
                                i++;
                            } else {  %> <tr>
                <td><input type="checkbox" id="chk" name="chk" value="<%=results[i].blameId %>" /></td>
                <td>
                    <%=results[i].blameId%></td>
                <td>
                    <%=results[i].blameContent%></td>
                <td>
                    <%=results[i].userName%></td>
                <td>
                    <%=results[i].targetUserName%></td>
                <td>
                    <%=results[i].blameDatefmt%></td>
                <td>
                    <% if(results[i].boardCount == 1){%>
                    Y
                    <%}else{%>
                    N
                    <%}%></td>  
                        <td>
                    <% if(results[i].blameDiv == 0){ %>
                    <button type="button" class="btn btn-block btn-outline-primary" onclick="board('/admin/blameDetailSelectOne?blameDiv=0&blameId=<%=results[i].blameId%>', '',
                        'resizable=no,width=640, height=700, scrollbars=1')" <%if(results[i].boardCount==0){%> disabled <%}%>>게시글</button>
                    <%} else{ %>
                    <button type="button" class="btn btn-block btn-outline-primary" onclick="board('/admin/blameDetailSelectOne?blameDiv=1&blameId=<%=results[i].blameId%>', '',
                        'resizable=no,width=640, height=700, scrollbars=1')" <%if(results[i].boardCount==0){%> disabled <%}%>>댓글</button>
                    <%}%>  
                </td>
                            </tr>    
                            <% } %>
                    <% } %>
                    <% } else { %>
                    <tr>
                        <td colspan="8">
                            데이터가 존재하지 않습니다.
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                    </table>
    </form>
</div>
</div>
<!--/ Basic Bootstrap Table -->
<div>
    <div class="demo-inline-spacing">
        <button class="btn btn-block btn-danger" type="button" id="delete_btn">삭제</button>
    </div>
    <% if(results.length > 0) { %>
    <div class="mt_20">
        <div class="paging" id="page_navi">
            <ul class="pagination customPaging">
                <% if(results.length > 0){ %>
                <li>
                    <a href="/admin/blameSelect?page=1" class="num">
                        << </a> </li> <li>
                            <a <%if((page<last-1)||(page==1)){%><%} else {%>
                                href="/admin/blameSelect?page=<%= parseInt(page) - 1 %>" class="num" <% } %>>
                                < </a> </li> <% for(var i = startPage; i < endPage; i++){  %> <li class="paging_on">
                                    <a href="/admin/blameSelect?page=<%= i + 1 %>"
                                        <%if(page==i+1){%>class="selected" <%}%> class="num"><%= i + 1 %></a> </li>
                                        <% } %> <li> <a <%if(page>last-1){%><%} else {%>
                                            href="/admin/blameSelect?page=<%= parseInt(page) + 1 %>" class="num"
                                            <% } %>>></a></li>
                <li><a href="/admin/blameSelect?page=<%= last%>" class="num">>></a></li>
                <% } %>
            </ul>
        </div>
    </div>
    <% } %>
</div>
</div>

<script>
    //신고 게시물 확인
    function board(theURL, winName, features) {
        window.open(theURL, winName, features);
    }
    // 삭제
    const eventForm = $("form[name='eventForm']");
    $("#delete_btn").on("click", function () {
        var chkArr = [];
        $("input[name=chk]:checked").each(function () {
            chkArr.push($(this).val());
            console.log($(this).val());
        });
        $('#blameId').val(chkArr);
        if (chkArr == "") {
            alert("삭제할 목록을 선택해주세요.");
            return false;
        }
        eventForm.attr("action", "/admin/blameDelete");
        eventForm.attr("method", "get");
        if (confirm("삭제하시겠습니까?") == true) {
            eventForm.submit();
        } else {
            return false;
        }
    })
    //체크박스
    $("#chkAll").click(function () {
        if ($("#chkAll").is(":checked")) {
            $("input[name=chk]").prop("checked", true);
        } else
            $("input[name=chk]").prop("checked", false);
    });
    $("input[name=chk]").click(function () {
        var total = $("input[name=chk]").length;
        var checked = $("input[name=chk]:checked").length;
        if (total != checked)
            $("#chkAll").prop("checked", false);
        else
            $("#chkAll").prop("checked", true);
    });
    //네비바 스타일
    var menuItem = document.getElementsByClassName("menu-item");
    menuItem.className = 'menu-item';
    menuItem[21].className += ' open active';
</script>