<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">게시판 관리 /</span> <%=community[0].boardName%> 관리</h4>
<!-- Basic Bootstrap Table -->
<div class="card">
    <h5 class="card-header"><%=community[0].boardName%> 관리</h5>
    <div class="table-responsive text-nowrap">
        <form name="searchForm" action="" method="get" class="easydropdown">
            <input type="hidden" id="page" name="page" value="<%=page%>">
            <input type="hidden" name="boardDivId" value="<%=results[0].boardDivId%>">
            <input class="searchbox" type="text" name="searchText" id="searchText"
                            <%if(searchText!=null){%>value="<%=searchText%>" <%}%> placeholder="작성자, 제목, 내용">
        </form>
            <table class="table table-hove">
            <thead>
                <tr>
                    <th><input type="checkbox" name="chkAll" id="chkAll" /></th>
                    <th>번호</th>
                    <th>제목</th>
                    <th>날짜</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0" id="tbody">
                <% if(results.length > 0) { %>
                    <% for(var i = (page * page_num) - page_num; i < (page * page_num); i++) { 
                    if(i > length){
                        i++;
                    } else { %>
                    <tr class="pointer"
                        onclick="location.href='/admin/m_board/selectOne?boardId=<%=results[i].boardId%>&page=<%=page%>&searchText<%=searchText%>'">
                        <td onclick='event.cancelBubble=true;'><input type="checkbox" id="chk"
                                name="chk" value="<%=results[i].boardId %>" />
                        </td>
                        <td>
                            <%=results.length - i%>
                        </td>
                        <td>
                            <%=results[i].boardTitle%>
                        </td>
                        <td>
                            <%= results[i].boardDatefmt %>
                        </td>
                    </tr>
                    <% } %>
                    <% } %>
                    <% } else { %>
                    <tr>
                        <td colspan="7">등록된 게시물이 없습니다.</td>
                    </tr>
                    <% } %>
     
                        </div>
                    </td>
            </tbody>
        </table>

            <div>
                <input type="hidden" id="writId" name="writId" value="" />
                <button id="enrollAction" class="btn btn-block btn-outline-success"
                    onclick="enroll()">등록</button>
                <button class="btn btn-block btn-outline-danger" type="button"
                    id="delete_btn">삭제</button>
            </div>
        
       
        <div>
            <div class="mt_20">
                <div class="paging" id="page_navi">
                    <ul class="pagination customPaging">
                        <% if(results.length > 0){ %>
                        <li>
                            <a href="/admin/m_board?boardId=<%= results[0].boardId %>&page=1&searchText=<%=searchText%>"
                                class="num">
                                << </a> </li> <li>
                                    <a <%if((page==1)){%><%} else {%>
                                        href="/admin/m_board?boardId=<%= results[0].boardId %>&page=<%= parseInt(page) - 1 %>&searchText=<%=searchText%>"
                                        class="num" <% } %>>
                                        < </a> </li>
                                            <% for(var i = startPage; i < endPage; i++){  %>
                                            <li class="paging_on">
                                            <a href="/admin/m_board?boardId=<%= results[0].boardId %>&page=<%= i + 1 %>&searchText=<%=searchText%>"
                                                <%if(page==i+1){%>class="selected"
                                                <%}%> class="num"><%= i + 1 %></a> </li> <% } %>
                                                <li> <a <%if(page>last-1){%><%} else {%>
                                                    href="/admin/m_board?boardId=<%= results[0].boardId %>&page=<%= parseInt(page) + 1 %>&searchText=<%=searchText%>"
                                                    class="num" <% } %>>></a></li>
                        <li><a href="/admin/m_board?boardId=<%= results[0].boardId %>&page=<%= last%>&searchText=<%=searchText%>"
                                class="num">>></a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Basic Bootstrap Table -->

<script>
    $(document).ready(function () {
        searchajax(); 

        const formObj = $("form[name='userForm']");
        // 삭제
        $("#delete_btn").on("click", function () {
            var chkArr = [];
            $("input[name=chk]:checked").each(function () {
                chkArr.push($(this).val());
            });
            $('#uid').val(chkArr);
            if (chkArr == "") {
                alert("삭제할 목록을 선택해주세요.");
                return false;
            }
            var chkImg = [];
            $("input[name=chk]:checked").each(function () {
                chkImg.push($(this).attr('data-img'));
            });
            $('#userImg').val(chkImg);
            formObj.attr("action", "userDelete");
            formObj.attr("method", "get");
            if (confirm("삭제하시겠습니까?") == true) {
                formObj.submit();
            } else {
                return false;
            }
        })
        //쿼리스트링 페이지
        function getUrlParams() {
            var params = {};
            window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
                params[key] = value;
            });
            return params;
        } 
        var param = getUrlParams();
        var page = document.getElementById("page");
        page.value = param.page;
        const searchForm = $("form[name='searchForm']");

    });

    // 레이아웃 adminNav 해당 탭에 접근했을때 펼쳐주기 
    var menuItem = document.getElementsByClassName("menu-item");
        //초기화
        menuItem.className = 'menu-item';
        //'[2] = 게시판관리' '[3] = 공지사항' if문 걸어주기.
        menuItem[2].className += ' open active';
        menuItem[3].className += ' active';

    // 선택
    $("#chkAll").click(function () {
        if ($("#chkAll").is(":checked"))
            $("input[name=chk]").prop("checked", true);
        else
            $("input[name=chk]").prop("checked", false);
    });
    $("input[name=chk]").click(function () {
        var total = $("input[name=chk]").length;
        var checked = $("input[name=chk]:checked").length;
        if (total != checked)
            $("#chkAll").prop("checked", false);
        else
            $("#chkAll").prop("checked", true);
    });

    //검색
    function searchajax() {
        $("#searchText").keyup(function () {
            var words = $("#searchText").val();
            $.ajax({
                type: 'get',
                url: '/admin/m_board/boardSearch?boardDivId=<%=community[0].boardDivId%>&page=1',
                data: {
                    searchText: words
                },
                dataType: 'json',
                success: function (data) {
                    // console.log(ajaxSearch.page)
                    // console.log("===========" + ajaxSearch.ajaxSearch[0].boardName);                     
                    // console.log(page)
                    // console.log(data)
                    var str = ''
                    $(".customPaging").empty();
                    if (data.ajaxSearch.length > 0) {
                        for (var i = (data.page * data.page_num) - data
                                .page_num; i < (data.page * data.page_num); i++) {
                            if (i > data.length) {
                                i++;
                            } else {
                                $("#tbody").empty();
                                str +=
                                    '<tr onclick="location.href=\'/admin/m_board/selectOne?boardId=' +
                                    data.ajaxSearch[i].boardId + '&page=' + data
                                    .page + '&searchText=' + data.searchText +
                                    '\'"> <td onclick="event.cancelBubble=true;"><input type="checkbox" id="chk" name="chk" value="' +
                                    data.ajaxSearch[i].boardId + '" /> </td>';
                                str +=
                                    '<td>' +
                                    (data.ajaxSearch.length - i) + '</td>';
                                str +=
                                    '<td>' +
                                    data.ajaxSearch[i].boardTitle + '</td>';
                                str +=
                                    '<td>' +
                                    data.ajaxSearch[i].boardDatefmt + '</td>';
                                // str +=
                                //     '<td>' +
                                //     data.ajaxSearch[i].writHit + '</td></tr>'
                            }
                        }
                        // console.log("str = " + str)
                        $("#tbody").append(str);
                    } else {
                        var none = '<tr> <td colspan="8"> 데이터가 존재하지 않습니다. </td> </tr>'
                        $("#tbody").empty();
                        $("#tbody").append(none);
                    } 
                    paging(data);
                },
                error: function (e) {
                    console.log('error:' + e.status);
                }
            });
        });
    }
</script>