<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><%if(crewDiv=="all"){%>총동창회<%}else if (crewDiv == "gf"){%>골프회<%}
    else if (crewDiv == "mt"){%>산악회<%}%> /</span> <%=community[0].boardName%> 관리</h4>
<div style="background-color: #ededfa; padding: 30;">
    <form name="searchForm" action="" method="get" class="easydropdown">
        <input type="hidden" id="page" name="page" value="<%=page%>">
        <input type="hidden" name="boardDivId" id="boardDivId" value="<%=results[0].boardDivId%>">
        <input type="hidden" name="boardName" id="boardName" value="<%=community[0].boardName%>">
        <input type="hidden" name="crewDiv" id="crewDiv" value="<%=crewDiv%>">
        <input class="searchbox" type="text" name="searchText" id="searchText"
            <%if(searchText!=null){%>value="<%=searchText%>" <%}%> placeholder="작성자, 제목, 내용">
    </form>
<!-- Basic Bootstrap Table -->
<div class="card">

    <div class="table-responsive text-nowrap">
            <table class="table table-hove">
            <thead>
                <tr>
                    <th><input type="checkbox" name="chkAll" id="chkAll" /></th>
                    <th>번호</th>
                    <th>제목</th>
                    <th>날짜</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0" id="tbody">
                <% if(results.length > 0) { %> <% for(var i = (page * page_num) - page_num; i < (page * page_num); i++) { 
                    if(i > length){
                        i++;
                    } else { %> <tr class="pointer"
                onclick="location.href='/admin/m_board/selectOne?boardDivId=<%=results[i].boardDivId%>&page=<%=page%>&searchText=<%=searchText%>&boardId=<%=results[i].boardId%>&boardName=<%=community[0].boardName%>&crewDiv=<%=crewDiv%>'">
            <td onclick='event.cancelBubble=true;'><input type="checkbox" id="chk" name="chk"
                    value="<%=results[i].boardId %>" />
            </td>
            <td>
                <%=results.length - i%>
            </td>
            <td>
                <%=results[i].boardTitle%>
            </td>
            <td>
                <%= results[i].boardDatefmt %>
            </td>
            </tr>
            <% } %>
            <% } %>
            <% } else { %>
            <tr>
                <td colspan="7">등록된 게시물이 없습니다.</td>
            </tr>
            <% } %>

    </div>
    </td>
    </tbody>
    </table>
    
</div>
</div>
    <div style="margin-top: 30px;">
        <button id="enrollAction" class="btn btn-outline-primary"
            onclick="location.href='/admin/m_board/boardWritForm?boardDivId=<%= results[0].boardDivId %>&crewDiv=<%=crewDiv%>&boardName=<%=community[0].boardName%>'">등록</button>
        <button class="btn btn-outline-danger" type="button" id="delete_btn">삭제</button>
    </div>


    <div>
        <div class="mt_20">
            <div class="paging" id="page_navi">
                <ul class="pagination customPaging">
                    <% if(results.length > 0){ %>
                    <li>
                        <a href="/admin/m_board?boardDivId=<%= results[0].boardDivId %>&page=1&searchText=<%=searchText%>&crewDiv=<%=crewDiv%>"
                            class="num">
                            << </a> </li> <li>
                                <a <%if((page==1)){%><%} else {%>
                                    href="/admin/m_board?boardDivId=<%= results[0].boardDivId %>&page=<%= parseInt(page) - 1 %>&searchText=<%=searchText%>&crewDiv=<%=crewDiv%>"
                                    class="num" <% } %>>
                                    < </a> </li> <% for(var i = startPage; i < endPage; i++){  %> <li class="paging_on">
                                        <a href="/admin/m_board?boardDivId=<%= results[0].boardDivId %>&page=<%= i + 1 %>&searchText=<%=searchText%>&crewDiv=<%=crewDiv%>"
                                            <%if(page==i+1){%>class="selected" <%}%> class="num"><%= i + 1 %></a> </li>
                                            <% } %> <li> <a <%if(page>last-1){%><%} else {%>
                                                href="/admin/m_board?boardDivId=<%= results[0].boardDivId %>&page=<%= parseInt(page) + 1 %>&searchText=<%=searchText%>&crewDiv=<%=crewDiv%>"
                                                class="num" <% } %>>></a></li>
                    <li><a href="/admin/m_board?boardDivId=<%= results[0].boardDivId %>&page=<%= last%>&searchText=<%=searchText%>&crewDiv=<%=crewDiv%>"
                            class="num">>></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/ Basic Bootstrap Table -->

<script>
    $(document).ready(function () {
        searchajax();
        const formObj = $("form[name='boardForm']");

        //등록 
        $("#enrollAction").on("click", function () {
            formObj.attr("method", "get");
            formObj.attr("action", "boardWritForm");
            formObj.submit();    
        });
        // 삭제

        $("#delete_btn").on("click", function () {
            var chkArr = [];
            $("input[name=chk]:checked").each(function () {
                chkArr.push($(this).val());
            });
            $('#uid').val(chkArr);
            if (chkArr == "") {
                alert("삭제할 목록을 선택해주세요.");
                return false;
            }
            var chkImg = [];
            $("input[name=chk]:checked").each(function () {
                chkImg.push($(this).attr('data-img'));
            });
            $('#userImg').val(chkImg);
            formObj.attr("action", "userDelete");
            formObj.attr("method", "get");
            if (confirm("삭제하시겠습니까?") == true) {
                formObj.submit();
            } else {
                return false;
            }
        })
        //쿼리스트링 페이지
        function getUrlParams() {
            var params = {};
            window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
                params[key] = value;
            });
            return params;
        }
        var param = getUrlParams();
        var page = document.getElementById("page");
        page.value = param.page;
        const searchForm = $("form[name='searchForm']");

    });

    // 레이아웃 adminNav 해당 탭에 접근했을때 펼쳐주기 
    var menuItem = document.getElementsByClassName("menu-item");
    var boardDivId = document.getElementById("boardDivId").value;
    var crewDiv = document.getElementById("crewDiv").value;
    //초기화
    menuItem.className = 'menu-item';
    //'[2] = 게시판관리' '[3] = 공지사항' '[4] = 갤러리' '[5] = 경조사'
    //'[6] = 골프회' '[7] = 공지사항' '[8] = 갤러리'
    //'[9] = 산악회' '[10] = 공지사항' '[11] = 갤러리'
    if(crewDiv == 'all'){
        menuItem[2].className += ' open active';
        if (boardDivId == 1) {
            menuItem[3].className += ' active';
        } else if (boardDivId == 2) {
            menuItem[4].className += ' active';
        } else if (boardDivId == 3)
            menuItem[5].className += ' active';
    } else if (crewDiv == 'gf'){
        menuItem[6].className += ' open active';
        if (boardDivId == 1) {
            menuItem[7].className += ' active';
        } else if (boardDivId == 2) {
            menuItem[8].className += ' active';
        }
    } else if (crewDiv == 'mt'){
        menuItem[9].className += ' open active';
        if (boardDivId == 1) {
            menuItem[10].className += ' active';
        } else if (boardDivId == 2) {
            menuItem[11].className += ' active';
        }
    }


    // 선택
    $("#chkAll").click(function () {
        if ($("#chkAll").is(":checked"))
            $("input[name=chk]").prop("checked", true);
        else
            $("input[name=chk]").prop("checked", false);
    });
    $("input[name=chk]").click(function () {
        var total = $("input[name=chk]").length;
        var checked = $("input[name=chk]:checked").length;
        if (total != checked)
            $("#chkAll").prop("checked", false);
        else
            $("#chkAll").prop("checked", true);
    });

    //검색
    function searchajax() {
        $("#searchText").keyup(function () {
            var words = $("#searchText").val();
            $.ajax({
                type: 'get',
                url: '/admin/m_board/boardSearch?boardDivId=<%=community[0].boardDivId%>&page=1&crewDiv=<%=crewDiv%>',
                data: {
                    searchText: words
                },
                dataType: 'json',
                success: function (data) {
                    var str = ''
                    $(".customPaging").empty();
                    if (data.ajaxSearch.length > 0) {
                        for (var i = (data.page * data.page_num) - data
                                .page_num; i < (data.page * data.page_num); i++) {
                            if (i > data.length) {
                                i++;
                            } else {
                                $("#tbody").empty();
                                str +=
                                    '<tr onclick="location.href=\'/admin/m_board/selectOne?boardId=' +
                                    data.ajaxSearch[i].boardId + '&page=' + data
                                    .page + '&searchText=' + data.searchText + '&boardDivId=' + 
                                    data.ajaxSearch[i].boardDivId + '&crewDiv=' + data.crewDiv
                                    '\'"> <td onclick="event.cancelBubble=true;"><input type="checkbox" id="chk" name="chk" value="' +
                                    data.ajaxSearch[i].boardId + '" /> </td>';
                                str +=
                                    '<td>' +
                                    (data.ajaxSearch.length - i) + '</td>';
                                str +=
                                    '<td>' +
                                    data.ajaxSearch[i].boardTitle + '</td>';
                                str +=
                                    '<td>' +
                                    data.ajaxSearch[i].boardDatefmt + '</td></tr>';
                            }
                        }
                        console.log("str = " + str)
                        $("#tbody").append(str);
                    } else {
                        var none = '<tr> <td colspan="8"> 데이터가 존재하지 않습니다. </td> </tr>'
                        $("#tbody").empty();
                        $("#tbody").append(none);
                    }
                    paging(data);
                },
                error: function (e) {
                    console.log('error:' + e.status);
                }
            });
        });
    }

    function paging(data) {
        var datas = data;
        var dataLength = datas.length;
        var dataPageNum = datas.page_num;
        var boardDivId = datas.ajaxSearch[0].boardDivId;
        var datasPage = Number(datas.page);
        var datasLast = Number(datas.last);
        var startPage = Number(datas.startPage);
        var endPage = Number(datas.endPage);
        var temp = '';
        temp = `<li>
                <a href="/admin/m_board?boardDivId=${boardDivId}&page=1&searchText=${datas.searchText}&crewDiv=${datas.crewDiv}"
                class="num">
                << </a> </li> <li>
                <a `
        if (datasPage == 1) {
            temp += `><</a></li>`
        } else {
            temp += `href="/admin/m_board?boardDivId=${boardDivId}&page=${datasPage - 1}&searchText=${datas.searchText}&crewDiv=${datas.crewDiv}"
                class="num">
                < </a> </li>`
        }
        for (var i = datas.startPage; i < datas.endPage; i++) {
            temp += `<li class="paging_on">
                    <a href="/admin/m_board?boardDivId=${boardDivId}&page=${i + 1}&searchText=${datas.searchText}&crewDiv=${datas.crewDiv}"`
            if (i != 0) {
                temp += `class="num">${i + 1}</a> </li>`
            } else {
                temp +=
                    `class="selected" style="background-color:#696CFF;><span style="color:white;">${i + 1}</span></a> </li>`
            }
        }
        temp += `<li> <a `
        if (datasPage == datasLast) {
            temp += `> > </a></li> <li><a href="/admin/m_board?boardDivId=${boardDivId}&page=${datasPage}&searchText=${datas.searchText}&crewDiv=${datas.crewDiv}</a></li>
                         <li><a href="/admin/m_board?boardDivId=${boardDivId}&page=${datasPage}&searchText=${datas.searchText}&crewDiv=${datas.crewDiv}"
                    class="num">>></a></li>`
        } else {
            temp += `href="/admin/m_board?boardDivId=${boardDivId}&page=${datasPage + 1}&searchText=${datas.searchText}&crewDiv=${datas.crewDiv}"
                    class="num">></a></li>
                    <li><a href="/admin/m_board?boardDivId=${boardDivId}}&page=${datasLast}&searchText=${datas.searchText}&crewDiv=${datas.crewDiv}"
                    class="num">>></a></li>`
        }

        $(".customPaging").html(temp);
    }
</script>