<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><%if(bannerDiv=="all"){%>총동창회<%}else if (bannerDiv == "gf"){%>골프회<%}
    else if (bannerDiv == "mt"){%>산악회<%}%> /</span> 후원 관리</h4>
<div style="background-color: #ededfa; padding: 30;">
    <form name="searchForm" action="" method="get" class="easydropdown">
        <input type="hidden" id="page" name="page" value="<%=page%>">
        <input type="hidden" name="bannerDiv" id="bannerDiv" value="<%=bannerDiv%>">
        <input class="searchbox" type="text" name="searchText" id="searchText"
            <%if(searchText!=null){%>value="<%=searchText%>" <%}%> placeholder="후원업체명">
    </form>
<!-- Basic Bootstrap Table -->
<div class="card">

    <form id="bannerForm" name="bannerForm" action="" method="">
        <input type="hidden" id="page" name="page" value="<%=page%>">
        <input type="hidden" name="bannerDiv" id="bannerDiv" value="<%=bannerDiv%>">
        <input type="hidden" id="bannerId" name="bannerId" value="" />
    <div class="table-responsive text-nowrap">
            <table class="table table-hove">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>후원업체</th>
                    <th>사이트</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0" id="tbody">
                <% if(results.length > 0) { %> <% for(var i = (page * page_num) - page_num; i < (page * page_num); i++) { 
                    if(i > length){
                        i++;
                    } else { %> <tr class="pointer"
                onclick="location.href='/admin/bannerSelectOne?bannerDiv=<%=results[i].bannerDiv%>&page=<%=page%>&searchText=<%=searchText%>&bannerId=<%=results[i].bannerId%>'">
            <td>
                <%=results.length - i%>
            </td>
            <td>
                <%=results[i].bannerTitle%>
            </td>
            <td>
                <%= results[i].bannerUrl %>
            </td>
            </tr>
            <% } %>
            <% } %>
            <% } else { %>
            <tr>
                <td colspan="7">등록된 게시물이 없습니다.</td>
            </tr>
            <% } %>

        </td>
    </tbody>
</table>
</form>
</div>
</div>

    <div style="margin-top: 30px;">
        <button id="enrollAction" class="btn btn-primary"
            onclick="location.href='/admin/bannerInsert?bannerDiv=<%=bannerDiv %>'">등록</button>
        <button class="btn btn-danger" type="button" id="delete_btn">삭제</button>
    </div>


    <div>
        <div class="mt_20">
            <div class="paging" id="page_navi">
                <ul class="pagination customPaging">
                    <li>
                        <a href="/admin/bannerMain?bannerDiv=<%=bannerDiv %>&page=1&searchText=<%=searchText%>"
                            class="num">
                            << </a> </li> <li>
                                <a <%if((page==1)){%><%} else {%>
                                    href="/admin/bannerMain?bannerDiv=<%=bannerDiv %>&page=<%= parseInt(page) - 1 %>&searchText=<%=searchText%>"
                                    class="num" <% } %>>
                                    < </a> </li> <% for(var i = startPage; i < endPage; i++){  %> <li class="paging_on">
                                        <a href="/admin/bannerMain?bannerDiv=<%=bannerDiv %>&page=<%= i + 1 %>&searchText=<%=searchText%>"
                                            <%if(page==i+1){%>class="selected" <%}%> class="num"><%= i + 1 %></a> </li>
                                            <% } %> <li> <a <%if(page>last-1){%><%} else {%>
                                                href="/admin/bannerMain?bannerDiv=<%=bannerDiv %>&page=<%= parseInt(page) + 1 %>&searchText=<%=searchText%>"
                                                class="num" <% } %>>></a></li>
                    <li><a href="/admin/bannerMain?bannerDiv=<%=bannerDiv %>&page=<%= last%>&searchText=<%=searchText%>"
                            class="num">>></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<!--/ Basic Bootstrap Table -->

<script>
    $(document).ready(function () {
        searchajax();
        
        //쿼리스트링 페이지
        function getUrlParams() {
            var params = {};
            window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
                params[key] = value;
            });
            return params;
        }
        var param = getUrlParams();
        var page = document.getElementById("page");
        page.value = param.page;
        const searchForm = $("form[name='searchForm']");
    });

    // 레이아웃 adminNav 해당 탭에 접근했을때 펼쳐주기 
    var menuItem = document.getElementsByClassName("menu-item");
    var bannerDiv = document.getElementById("bannerDiv").value;
    var crewDiv = document.getElementById("crewDiv").value;
    //초기화
    menuItem.className = 'menu-item';
    //'[2] = 게시판관리' '[3] = 공지사항' '[4] = 갤러리' '[5] = 경조사'
    //'[10] = 골프회' '[11] = 공지사항' '[12] = 갤러리'
    //'[17] = 산악회' '[18] = 공지사항' '[19] = 갤러리'
    if(crewDiv == 'all'){
        menuItem[2].className += ' open active';
        if (bannerDivId == 1) {
            menuItem[3].className += ' active';
        } else if (bannerDivId == 2) {
            menuItem[4].className += ' active';
        } else if (bannerDivId == 3)
            menuItem[5].className += ' active';
    } else if (crewDiv == 'gf'){
        menuItem[10].className += ' open active';
        if (bannerDivId == 1) {
            menuItem[11].className += ' active';
        } else if (bannerDivId == 2) {
            menuItem[12].className += ' active';
        }
    } else if (crewDiv == 'mt'){
        menuItem[17].className += ' open active';
        if (bannerDivId == 1) {
            menuItem[18].className += ' active';
        } else if (bannerDivId == 2) {
            menuItem[19].className += ' active';
        }
    }

    //검색
    function searchajax() {
        $("#searchText").keyup(function () {
            var words = $("#searchText").val();
            console.log(words)
            $.ajax({
                type: 'get',
                url: '/admin/bannerSearch?bannerDiv=<%=bannerDiv%>&page=1',
                data: {
                    searchText: words
                },
                dataType: 'json',
                success: function (data) {
                    var str = ''
                    $(".customPaging").empty();
                    if (data.ajaxSearch.length > 0) {
                        for (var i = (data.page * data.page_num) - data
                                .page_num; i < (data.page * data.page_num); i++) {
                            if (i > data.length) {
                                i++;
                            } else {
                                $("#tbody").empty();
                                str +=
                                    '<tr onclick="location.href=\'/admin/bannerSelectOne?bannerId=' +
                                    data.ajaxSearch[i].bannerId + '&page=' + data
                                    .page + '&searchText=' + data.searchText + '&bannerDiv=' + 
                                    data.ajaxSearch[i].bannerDiv +'">';
                                str +=
                                    '<td>' +
                                    (data.ajaxSearch.length - i) + '</td>';
                                str +=
                                    '<td>' +
                                    data.ajaxSearch[i].bannerTitle + '</td>';
                                str +=
                                    '<td>' +
                                    data.ajaxSearch[i].bannerUrl + '</td></tr>';
                            }
                        }
                        console.log("str = " + str)
                        $("#tbody").append(str);
                    } else {
                        var none = '<tr> <td colspan="8"> 데이터가 존재하지 않습니다. </td> </tr>'
                        $("#tbody").empty();
                        $("#tbody").append(none);
                    }
                    paging(data);
                },
                error: function (e) {
                    console.log('error:' + e.status);
                }
            });
        });
    }

    function paging(data) {
        var datas = data;
        var dataLength = datas.length;
        var dataPageNum = datas.page_num;
        var bannerDiv = datas.ajaxSearch[0].bannerDiv;
        var datasPage = Number(datas.page);
        var datasLast = Number(datas.last);
        var startPage = Number(datas.startPage);
        var endPage = Number(datas.endPage);
        var temp = '';
        temp = `<li>
                <a href="/admin/bannerMain?bannerDiv=${bannerDiv}&page=1&searchText=${datas.searchText}"
                class="num">
                << </a> </li> <li>
                <a `
        if (datasPage == 1) {
            temp += `><</a></li>`
        } else {
            temp += `href="/admin/bannerMain?bannerDiv=${bannerDiv}&page=${datasPage - 1}&searchText=${datas.searchText}"
                class="num">
                < </a> </li>`
        }
        for (var i = datas.startPage; i < datas.endPage; i++) {
            temp += `<li class="paging_on">
                    <a href="/admin/bannerMain?bannerDiv=${bannerDiv}&page=${i + 1}&searchText=${datas.searchText}"`
            if (i != 0) {
                temp += `class="num">${i + 1}</a> </li>`
            } else {
                temp +=
                    `class="selected" style="background-color:#696CFF;><span style="color:white;">${i + 1}</span></a> </li>`
            }
        }
        temp += `<li> <a `
        if (datasPage == datasLast) {
            temp += `> > </a></li> <li><a href="/admin/bannerMain?bannerDiv=${bannerDiv}&page=${datasPage}&searchText=${datas.searchText}</a></li>
                         <li><a href="/admin/bannerMain?bannerDiv=${bannerDiv}&page=${datasPage}&searchText=${datas.searchText}"
                    class="num">>></a></li>`
        } else {
            temp += `href="/admin/bannerMain?bannerDiv=${bannerDiv}&page=${datasPage + 1}&searchText=${datas.searchText}"
                    class="num">></a></li>
                    <li><a href="/admin/bannerMain?bannerDiv=${bannerDiv}}&page=${datasLast}&searchText=${datas.searchText}"
                    class="num">>></a></li>`
        }

        $(".customPaging").html(temp);
    }
</script>