<!-- ckeditor -->
<script src="../../../public/build/ckeditor.js"></script>
<style>
   .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
      border-color: var(--ck-color-base-border);
      height: 40%;
   }

   .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
      height: 400px;
   }

   .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
      height: 400px;
   }
</style>

         <div class="col-xs-6">
            <!-- HTML5 Inputs -->
            <div class="card mb-4">
               <h5 class="card-header"><%if(result[0].bannerDiv=="all"){%>총동창회<%}else if (result[0].bannerDiv == "gf"){%>골프회<%}
                                     else if (result[0].bannerDiv == "mt"){%>산악회<%}%> 후원 수정</h5>
                  <div class="card-body">
                     <!-- 컨텐츠 -->
                     <form name="udtForm" role="form">
                        <input type="hidden" name="fileId" value="">
                        <input type="hidden" name="fileRoute" value="">
                        <input type="hidden" name="page" value="<%=page%>">
                        <input type="hidden" id="writContent" name="bannerDetail" value="">
                        <input type="hidden" id="bannerDiv" name="bannerDiv" value="<%=result[0].bannerDiv%>">
                        <div class="mb-3 row">
                           <label class="col-md-1 col-form-label" for="text-input">글번호</label>
                           <div class="col-md-10">
                              <input class="form-control" id="writId" type="text" name="bannerId" readonly
                                 value="<%=bannerId%>">
                           </div>
                        </div>
                        <div class="mb-3 row">
                           <label class="col-md-1 col-form-label" for="text-input">후원업체명</label>
                           <div class="col-md-10">
                              <input class="form-control" id="writTitle" type="text" name="bannerTitle"
                                 value="<%=result[0].bannerTitle%>">
                           </div>
                        </div>
                        <div class="mb-3 row">
                           <label class="col-md-1 col-form-label" for="text-input">업체세부내용</label>
                           <div class="col-md-10">
                              <textarea name="editor" class="editor" id="editor"><%-result[0].bannerDetail %></textarea>
                           </div>
                        </div>
                        <div class="mb-3 row">
                           <label class="col-md-1 col-form-label" for="text-input">사이트</label>
                           <div class="col-md-10">
                              <input class="form-control" id="bannerUrl" type="text" name="bannerUrl" value="">
                           </div>
                        </div>
                        <div class="mb-3 row">
                           <label class="col-md-1 col-form-label">첨부파일</label>
                           <% if(result[0].fileRoute != null) { %>
                           <div class="file-wrap banner_img_wrap col-md-10">
                              <% for(var i = 0; i < result.length; i++) {%>
                              <p><span><%=result[i].fileOrgName%></span>
                                 <button name="bannerFileDelete" data-fileRoute="<%=result[i].fileRoute%>" data-fileId="<%=result[i].fileId%>"
                                    class="btn btn-block btn-outline-danger fileDelete">삭제</button></p>
                              <% } %>
                              <% if(result.length < 5) { %>
                              <% for(var i = 0; i < 5-result.length; i++) {%>
                              <br><br><input type="file" id="file" name="file" /><br><br>
                              <% } %>
                              <% } %>
                              </div>
                              <% } else {%>
                              <div class="col-md-10" style="display: flex; flex-direction: column; gap: 25px; padding-left: 15px">
                                 <input type="file" id="file" name="file">
                                 <input type="file" id="file" name="file" />
                                 <input type="file" id="file" name="file" />
                                 <input type="file" id="file" name="file" />
                                 <input type="file" id="file" name="file" />
                              </div>
                              <% } %>
                           
                        </div>

                        <!--option 버튼  -->
                         <div class="demo-inline-spacing" >
                           <button type="button" class="btn btn-outline-success" id="update_btn">수정</button>
                           <button type="button" class="btn btn-outline-primary"
                              onclick="history.go(-1)">취소</button>
                        </div>
                           </div>

                     </form>
                  </div>
               </div>
            </div>


<script type="text/javascript">
   $(document).ready(function () {
      //ckeditor
      ClassicEditor
         .create(document.querySelector('#editor'), {
            language: 'ko'
         })
         .then(newEditor => {
            editor = newEditor;
         })
         .catch(error => {
            console.error(error);
         });

      var formObj = $("form[name='udtForm']");
      // 수정
      $("#update_btn").on("click", function () {
         var writTitle = $("#writTitle").val();
         var content = editor.getData();
         if (writTitle == "") {
            alert("제목을 입력하세요.");
            $("#writTitle").focus();
            return false;
         }

         if (content == null) {
            alert("내용을 입력하세요.");
            $("#editor").focus();
            return false;
         }

         if (confirm("수정하시겠습니까?") == true) {
            $('input[id=writContent]').attr('value', content);
            formObj.attr("action", "bannerUpdate");
            formObj.attr("enctype", "multipart/form-data");
            formObj.attr("method", "post");
            formObj.submit();
            alert("수정되었습니다.");
         } else {
            return;
         }
      });

      //첨부파일 삭제
      $("[name=bannerFileDelete]").on("click", function () {
         $('input[name=fileId').val($(this).attr('data-fileId'));
         $('input[name=fileRoute').val($(this).attr('data-fileRoute'));
         if (confirm("실제 파일이 삭제됩니다. 정말 삭제하시겠습니까?") == true) {
            formObj.attr("action", "bannerDelete/bannerFileDelete");
            formObj.attr("method", "get");
            alert("삭제되었습니다.");
            formObj.submit();
         } else {
            return;
         }
      });
   })
          // 레이아웃 adminNav 해당 탭에 접근했을때 펼쳐주기 
    var menuItem = document.getElementsByClassName("menu-item");
    var bannerDiv = document.getElementById("bannerDiv").value;
    //초기화
    menuItem.className = 'menu-item';
    //'[2] = 게시판관리' '[3] = 공지사항' '[4] = 갤러리' '[5] = 경조사'
    //'[10] = 골프회' '[11] = 공지사항' '[12] = 갤러리'
    //'[17] = 산악회' '[18] = 공지사항' '[19] = 갤러리'
    if(bannerDiv == 'all'){
        menuItem[8].className += ' open active';
    } else if (bannerDiv == 'gf'){
        menuItem[14].className += ' open active';
    } else if (bannerDiv == 'mt'){
        menuItem[20].className += ' open active';
    }
</script>