         <div class="col-xs-6">
            <!-- HTML5 Inputs -->
            <div class="card mb-4">
               <h5 class="card-header"><%if(crewDiv=="all"){%>총동창회<%}else if (crewDiv == "gf"){%>골프회<%}
                  else if (crewDiv == "mt"){%>산악회<%}%> 후원 상세</h5>
               <div class="card-body">
                      <form name="udtForm" role="form">
                         <input type="hidden" id="page" name="page" value="<%=page%>">
                  <input type="hidden" id="searchText" name="searchText" value="<%=searchText%>">
                  <input type="hidden" id="crewDiv" name="crewDiv" value="<%=result[0].crewDiv%>">
                  <input type="hidden" id="bannerId" name="bannerId" value="<%=result[0].bannerId%>">
                  <!-- 컨텐츠 -->
                  <div class="mb-3 row">
                     <label class="col-md-2 col-form-label" for="text-input">배너번호</label>
                     <div class="col-md-9">
                        <input class="form-control" id="bannerId" type="text" name="bannerId" disabled="disabled"
                           value="<%=result[0].bannerId%>">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-md-2 col-form-label" for="text-input">업체명</label>
                     <div class="col-md-9">
                        <input class="form-control" id="bannerTitle" type="text" name="bannerTitle" disabled="disabled"
                           value="<%=result[0].bannerTitle%>">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-md-2 col-form-label" for="text-input">사이트</label>
                     <div class="col-md-9">
                        <input class="form-control" id="bannerUrl" type="text" name="bannerUrl" disabled="disabled"
                           value="<%=result[0].bannerUrl%>">
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-md-2 col-form-label" for="text-input">업체세부내용</label>
                     <div class="col-md-9">
                        <%-result[0].bannerDetail%>
                     </div>
                  </div>
                  <div class="mb-3 row">
                     <label class="col-md-2 col-form-label">첨부파일</label>
                     <div class="col-md-10">
                        <% if(result[0].fileRoute != null) { %>
                        <div class="file-wrap">
                           <% for(var i = 0; i < result.length; i++) {%>
                           <p><span><%=result[i].fileOrgName%></span></p>
                           <a href="../../../<%= result[i].fileRoute %>"
                              class="btn btn-block btn-outline-success textFileButton" type="button" download>파일
                              다운로드</a>
                           <input type="hidden" name="fileRoute" value="<%=result[i].fileRoute%>">
                           <% } %>
                        </div>
                        <% }%>
                        <% if(result[0].fileRoute == null) { %>
                        <div id="fileDiv">
                           등록된 첨부파일이 없습니다.
                        </div>
                        <br><% } %>
                     </div>
                  </div>
                  <!--option 버튼  -->
                  <div class="demo-inline-spacing">
                     <button type="button" class="btn btn-primary" id="update_btn">수정</button>
                     <button type="button" class="btn btn-danger" id="delete_btn">삭제</button>
                     <button type="button" class="btn btn-dark"
                        onclick="location.href='/admin/bannerMain?crewDiv=<%=result[0].crewDiv%>&page=<%=page%>&searchText=<%=searchText%>'">목록</button>
                  </div>
            </div>
            </form>
         </div>
         </div>
         </div>
         </div>
         <script type="text/javascript">
            $(document).ready(function () {
               var formObj = $("form[name='udtForm']");
               // 수정 폼 연결
               $("#update_btn").on("click", function () {
                  formObj.attr("action", "bannerUpdate");
                  formObj.attr("method", "get");
                  formObj.submit();
               });
               // 삭제
               $("#delete_btn").on("click", function () {
                  formObj.attr("action", "bannerDelete");
                  formObj.attr("method", "get");
                  if (confirm("후원업체를 삭제하시겠습니까?") == true) {
                     formObj.submit();
                  } else {
                     return;
                  }
               });
            })

            // 레이아웃 adminNav 해당 탭에 접근했을때 펼쳐주기 
            var menuItem = document.getElementsByClassName("menu-item");
            var crewDiv = document.getElementById("crewDiv").value;
            //초기화
            menuItem.className = 'menu-item';
            //'[2] = 게시판관리' '[3] = 공지사항' '[4] = 갤러리' '[5] = 경조사'
            //'[10] = 골프회' '[11] = 공지사항' '[12] = 갤러리'
            //'[17] = 산악회' '[18] = 공지사항' '[19] = 갤러리'
            if (crewDiv == 'all') {
               menuItem[8].className += ' open active';
            } else if (crewDiv == 'gf') {
               menuItem[14].className += ' open active';
            } else if (crewDiv == 'mt') {
               menuItem[20].className += ' open active';
            }
         </script>