<!--주소api-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
   window.onload = function () {
      document.getElementById("address_kakao").addEventListener("click", function () {
         new daum.Postcode({
            oncomplete: function (data) {
               // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
               // 예제를 참고하여 다양한 활용법을 확인해 보세요.
               document.getElementById("address_kakao").value = data.address; // 주소 넣기
               document.querySelector("input[id=address_detail]").focus(); //상세입력 포커싱
            }
         }).open();
      });
   }
</script>
<div class="col-xs-6">
   <!-- HTML5 Inputs -->
   <div class="card mb-4">
      <h5 class="card-header">회원 등록</h5>
      <div class="card-body">
         <form id="userEnrollForm" name="userEnrollForm" role="form" enctype="multipart/form-data">
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">프로필</label>
               <div class="col-md-10">
                  <input class="form-control" type="file" id="userProfile" name="file" />
                  <input type="hidden" id="userImgyn" name="userImgyn" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label primary">* 회원명</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userName" name="userName"
                     placeholder="ex) 홍길동" maxlength="10" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label primary">* 휴대번호</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userPhone" name="userPhone"
                     placeholder="ex) 010-1111-2222" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">이메일</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userEmail" name="userEmail"
                     placeholder="ex) abcd@naver.com" maxlength="30" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">전화번호</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="officePhone" name="officePhone"
                     placeholder="ex) 053-111-2222" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">주소</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="address_kakao" name="userAdres" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">상세주소</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="address_detail" name="userAdres4"
                     placeholder="상세주소를 입력해주세요" maxlength="100" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label primary">* 기수</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userNum" name="userNum" placeholder="ex) 06기" maxlength="5" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">홈페이지</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userUrl" name="userUrl"
                     placeholder="ex) https://www.naver.com" maxlength="300" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">소속</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userJob" name="userJob"
                     placeholder="ex) XX 회사 대표" maxlength="45" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">팩스</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userFax" name="userFax" maxlength="13" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">동아리</label>
               <div class="col-md-10">
                  <div class="col-md">
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="userCrew1" name="userCrew" value="gf" />
                        <label class="form-check-label" for="inlineRadio2">골프회</label>
                     </div>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="userCrew2" name="userCrew" value="mt" />
                        <label class="form-check-label" for="inlineRadio2">산악회</label>
                     </div>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="userCrew3" name="userCrew" value="mtgf" />
                        <label class="form-check-label" for="inlineRadio2">골프회 및 산악회</label>
                     </div>
                     <input class="btn rounded-pill btn-info" type="button" value="선택취소" onclick="test()">
                  </div>
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">총동창회 직책</label>
               <div class="col-md-10">
                  <select class="dropdown" id="dropdown" name="userAuth">
                  <% for(i = 0; i < userAuth.length; i++) { %>
                  <option <%if(userAuth[i].userAuth=='전체'){%> value="" <%}else{%>
                     value="<%= userAuth[i].userAuth %>" <%}%>><%= userAuth[i].userAuth %></option> 
                  <% } %>
                  </select> 
                  <div class="col-md-10 otherCheck">
                     <div class="col-md-1">
                     <input type='checkbox' class="others" value='others' onclick="is_checked()" style="width:20px" /> 기타
                  </div>
                     <input class="form-control new_userAuth" type="text" value="" id="new_userAuth" name="userAuth"
                     placeholder="새롭게 등록하실 직책명을 입력해주세요." maxlength="20" />
                  </div>
               </div> 
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">골프회 직책</label>
               <div class="col-md-10">
                  <select class="dropdown" id="dropdown" name="gfPosition">
                  <% for(i = 0; i < gfPosition.length; i++) { %>
                  <option <%if(gfPosition[i].gfPosition=='전체'){%> value="" <%}else{%>
                     value="<%= gfPosition[i].gfPosition %>" <%}%>><%= gfPosition[i].gfPosition %></option> 
                  <% } %>
                  </select> 
                  <div class="col-md-10 otherCheck">
                     <div class="col-md-1">
                     <input type='checkbox' class="others" value='others' onclick="is_checked()" style="width:20px" /> 기타
                  </div>
                     <input class="form-control new_userAuth" type="text" value="" id="new_gfPosition" name="gfPosition"
                     placeholder="새롭게 등록하실 직책명을 입력해주세요." maxlength="20" />
                  </div>
               </div> 
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">산악회 직책</label>
               <div class="col-md-10">
                  <select class="dropdown" id="dropdown" name="mtPosition">
                  <% for(i = 0; i < mtPosition.length; i++) { %>
                  <option <%if(mtPosition[i].mtPosition=='전체'){%> value="" <%}else{%>
                     value="<%= mtPosition[i].mtPosition %>" <%}%>><%= mtPosition[i].mtPosition %></option> 
                  <% } %>
                  </select> 
                  <div class="col-md-10 otherCheck">
                     <div class="col-md-1">
                     <input type='checkbox' class="others" value='others' onclick="is_checked()" style="width:20px" /> 기타
                  </div>
                     <input class="form-control new_userAuth" type="text" value="" id="new_mtPosition" name="mtPosition"
                     placeholder="새롭게 등록하실 직책명을 입력해주세요." maxlength="20" />
                  </div>
               </div> 
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">첨부파일</label>
               <div class="col-md-10">
                  <input class="form-control" type="file" id="file" name="file" />
                  <input class="form-control" type="file" id="file" name="file" />
                  <input class="form-control" type="file" id="file" name="file" />
                  <input class="form-control" type="file" id="file" name="file" />
                  <input class="form-control" type="file" id="file" name="file" />
                  <input class="form-control" type="file" id="file" name="file" />
               </div>
            </div>
            <div class="demo-inline-spacing">
               <button type="button" class="btn btn-primary" id="update_btn">등록</button>
               <button type="button" class="btn btn-danger" onclick="history.go(-1)">취소</button>
            </div>
         </form>
      </div>
   </div>

   <script type="text/javascript">
      $(document).ready(function () {
         const target = document.getElementById('new_userAuth');
         target.disabled = true;
         const target1 = document.getElementById('new_gfPosition');
         target1.disabled = true;
         const target2 = document.getElementById('new_mtPosition');
         target2.disabled = true;

         //확장자 체크
         $("input:file[name='file']").change(function () {
            var str = $(this).val();
            var fileName = str.split('\\').pop().toLowerCase();
            // alert(fileName);
            checkFileName(fileName);
         });
      });
      //확장자 체크
      function checkFileName(str) {
         var ext = str.split('.').pop().toLowerCase();
         // alert(ext);
         if ($.inArray(ext, ['jpg', 'png', 'jpeg', 'gif']) == -1) {
            alert(ext + '파일은 업로드 하실 수 없습니다.');
            $("input:file[name='file']").val("");
         }
      }
      //기타 체크 시 비활성화 해제.
      function is_checked() {
         const checkbox = document.getElementsByClassName('others');
         const target = document.getElementsByClassName('new_userAuth');
         const dropdown = document.getElementsByClassName('dropdown');
         // const is_checked = checkbox.checked;
         for(i=0; i < 3; i++) {
            if(checkbox[i].checked == true) {
               target[i].disabled = false;
               dropdown[i].options[0].selected = true;
               // dropdown[i].options.length = 0;
               dropdown[i].disabled = true;
            } else {
               target[i].disabled = true;
               dropdown[i].disabled = false;
            }
         }
      }
      $("#update_btn").click(function () {
         var userName = $("#userName").val();
         var userPhone = $("#userPhone").val();
         var officePhone = $("#officePhone").val();
         var userNum = $("#userNum").val();
         var userProfile = $("#userProfile").val();

         if (userName == '') {
            alert("회원명을 입력해주세요.");
            $("#userName").focus();
            return false;
         }

         if (userPhone == '') {
            alert("휴대번호를 입력해주세요.");
            $("#userPhone").focus();
            return false;
         }

         var regPhone = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;
         if (regPhone.test(userPhone) != true) {
            alert('올바른 휴대번호를 입력해주세요.');
            $("#userPhone").focus();
            return false;
         }

         var regPhone2 = /^[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}$/;
         if (officePhone != '' && regPhone2.test(officePhone) != true) {
            alert('올바른 전화번호를 입력해주세요.');
            $("#officePhone").focus();
            return false;
         }

         var regNum = /^([0-9])([0-9])*기$/;
         if (regNum.test(userNum) != true) {
            alert('올바른 기수번호를 입력해주세요.');
            $("#userNum").focus();
            return false;
         }

         if (userNum == '') {
            alert("기수를 입력해주세요.");
            $("#userNum").focus();
            return false;
         }

         if (confirm("등록하시겠습니까?") == true) {
            if (userProfile == '') {
               $("#userImgyn").val("0");
            }
            //휴대폰번호 숫자만 넘기기
            var regNumber = /[^0-9]/g;
            userPhone = userPhone.replace(regNumber, "");
            officePhone = officePhone.replace(regNumber, "");
            $("#userPhone").val(userPhone);
            $("#officePhone").val(officePhone);
            $("#userEnrollForm").attr("action", "/admin/userInsert");
            $("#userEnrollForm").attr("method", "post");
            $("#userEnrollForm").submit();
         } else {
            return;
         }
      });

      //체크 해제할 라디오버튼 불러오기
      function test() {
         var park = document.getElementsByName("userCrew");
         for (var i = 0; park.length; i++) {
            //체크되어 있다면 park[i].checked == true
            //true -> false로 변환 ==> 체크해제
            if (park[i].checked) {
               park[i].checked = false;
            }

         }
      }

      // 레이아웃 adminNav 해당 탭에 접근했을때 펼쳐주기 
      var menuItem = document.getElementsByClassName("menu-item");
      //초기화
      menuItem.className = 'menu-item';
      //'[0] = 회원 관리' '[1] = 일반회원관리' if문 걸어주기.
      menuItem[0].className += ' open active';
      menuItem[1].className += ' active';
   </script>