<div class="col-xs-6">
   <!-- HTML5 Inputs -->
   <div class="card mb-4">
     <h5 class="card-header">회원 상세정보</h5>
     <div class="card-body">
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">회원번호</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].uid%>" id="uid" name="uid" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">회원명</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].userName%>" id="userName" name="userName" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">휴대번호</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].userPhone%>" id="userPhone" name="userPhone" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">이메일</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].userEmail%>" id="userEmail" name="userEmail" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">전화번호</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].officePhone%>" id="officePhone" name="officePhone" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">주소</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].userAdres1%> <%=result[0].userAdres2%> <%=result[0].userAdres3%>" id="" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">기수</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].userNum%>" id="userNum" name="userNum" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">직책</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].userAuth%>" id="userAuth" name="userAuth" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">프로필</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].userImg%>" id="userImg" name="userImg" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">병원사진</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].uid%>" id="uid" name="uid" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">홈페이지</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].userUrl%>" id="userUrl" name="userUrl" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">소속</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].userJob%>" id="userJob" name="userJob" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">팩스</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].faxPhone%>" id="faxPhone" name="faxPhone" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">동아리</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].userCrew%>" id="userCrew" name="userCrew" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">역대직책</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].mtPosition%>, <%=result[0].gfPosition%>" id="" name="" />
         </div>
       </div>
       <div class="mb-3 row">
         <label for="html5-text-input" class="col-md-2 col-form-label">설치</label>
         <div class="col-md-10">
           <input class="form-control" type="text" value="<%=result[0].userSocialDiv%>" id="userSocialDiv" name="userSocialDiv" />
         </div>
       </div>
      
     </div>
   </div>