<div class="col-xs-6">
   <!-- HTML5 Inputs -->
   <div class="card mb-4">
      <h5 class="card-header">회원 정보 수정</h5>
      <div class="card-body">
         <form name="udtForm" role="form">
            <input type="hidden" name="page" value="<%=page%>">
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">회원번호</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.uid%>" id="uid" name="uid" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">회원명</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.userName%>" id="userName"
                     name="userName" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">휴대번호</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.userPhone%>" id="userPhone"
                     name="userPhone" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">이메일</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.userEmail%>" id="userEmail"
                     name="userEmail" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">전화번호</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.officePhone%>" id="officePhone"
                     name="officePhone" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">주소</label>
               <div class="col-md-10">
                  <input class="form-control" type="text"
                     value="<%=result.userAdres1%> <%=result.userAdres2%> <%=result.userAdres3%>" id="" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">기수</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.userNum%>" id="userNum" name="userNum" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">직책</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.userAuth%>" id="userAuth"
                     name="userAuth" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">프로필</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.userImg%>" id="userImg" name="userImg" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">병원사진</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.uid%>" id="" name="" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">홈페이지</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.userUrl%>" id="userUrl" name="userUrl" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">소속</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.userJob%>" id="userJob" name="userJob" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">팩스</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.faxPhone%>" id="faxPhone"
                     name="faxPhone" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">동아리</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.userCrew%>" id="userCrew"
                     name="userCrew" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">역대직책</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.mtPosition%>, <%=result.gfPosition%>"
                     id="" name="" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">설치</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="<%=result.userSocialDiv%>" id="userSocialDiv"
                     name="userSocialDiv" />
               </div>
            </div>
            <div class="demo-inline-spacing">
               <button type="button" class="btn btn-outline-info" id="update_btn">수정</button>
               <button type="button" class="btn btn-outline-primary"
                  onclick="location.href=''">취소</button>
            </div>
         </form>
      </div>
   </div>

<script type="text/javascript">
   //수정
 $("#update_btn").click(function () {
      var userName = $("#userName").val();
      var userPhone = $("#userPhone").val();

      if (userEmail == '') {
         alert("이메일을 입력해주세요.");
         $("#userEmail").focus();
         return false;
      }

      if (userNick == '') {
         alert("닉네임을 입력해주세요.");
         $("#userNick").focus();
         return false;
      }

      if (userPwd == '') {
         alert("패스워드를 입력해주세요.");
         $("#userPwd").focus();
         return false;
      }

      if(checkNickName(userNick) == false){
         return false;
      }

      if (confirm("수정하시겠습니까?")) {
         $("#userForm").attr("action", "userUpdate");
         $("#userForm").attr("method", "post");
         $("#userForm").submit();
         alert("수정이 완료되었습니다.");
      }
   });   

    //닉네임 체크 [S] 
   function checkNickName(userNick) { 
      //var nickname = document.getElementById('nickNm').value; 
      //닉네임 입력값 받아오기 
      var nickLength = 0;
       var engCheck = /[a-z]/; 
       var numCheck = /[0-9]/; 
       var specialCheck = /[`~!@#$%^&*|\\\'\";:\/?]/gi; 
       //한글, 영문 길이 2,1로 바꾸기 
       for(var i=0; i<userNick.length; i++){ 
          //한글은 2, 영문은 1로 치환 
          nick = userNick.charAt(i); 
          if(escape(nick).length >4){ 
             nickLength += 2; 
         }else{ 
            nickLength += 1; 
         } 
      } //닉네임 필수 입력 
             if (nickLength<2 || nickLength>20) {
                  alert("닉네임은 한글 1~10자, 영문 및 숫자 2~20자 입니다."); 
                  return false;
                  //닉네임 특수문자 포함 안됨 
               } else if (specialCheck.test(userNick)) {
                  alert("닉네임은 특수문자를 포함 할 수 없습니다.");
                  return false;
                  //닉네임 중복확인 
               } else { 
                  return true;
                        }
         } //닉네임 체크 [E]

   //첨부파일 삭제
   function file_del() {
      if (confirm("실제 파일이 삭제됩니다 \n정말 삭제하시겠습니까?")) {
         $("#userForm").attr("action", "imgDelete");
         $("#userForm").attr("method", "get");
         $("#userForm").submit();
      }
   }

   // 레이아웃 adminNav 해당 탭에 접근했을때 펼쳐주기 ' = 회원관리'
   var navDropdown = document.getElementsByClassName("nav-dropdown");
      navDropdown.className += 'open';
</script>