<style>
    .menu-item.active .menu-link {
        color: #696cff;
        background-color: rgba(105, 108, 255, 0.16) !important;
    }

    .modal-content {
        overflow-y: initial !important
    }

    .modal-body {
        height: 600px;
        overflow-y: auto;
    }
</style>
<h4 class="fw-bold py-3 mb-4">
    <% if(crewDiv == 'all') { %>
    <span class="text-muted fw-light">총동창회 / </span>행사 관리
    <% } else if(crewDiv == 'gf') { %>
    <span class="text-muted fw-light">골프회 / </span>행사 관리
    <% } else { %>
    <span class="text-muted fw-light">산악회 / </span>행사 관리
    <% } %>
</h4>
<div style="background-color: #ededfa; padding: 30;">
    <form name="searchForm" action="" method="get" class="easydropdown">
        <input type="hidden" name="page" value="1">
        <input type="hidden" name="crewDiv" value="<%= crewDiv %>">
        <select name="eventTarget1" class="dropdown">
            <option value="">참여 대상</option>
            <option value="전체" <%if(eventTarget1=="전체"){%> selected="selected" <%}%>>전체</option>
            <option value="임원" <%if(eventTarget1=="임원"){%> selected="selected" <%}%>>임원</option>
        </select>
        <select name="eventTarget2" class="dropdown">
            <option value="">참여 대상 지역</option>
            <option value="남구" <%if(eventTarget2=="남구"){%> selected="selected" <%}%>>남구</option>
            <option value="달서구" <%if(eventTarget2=="달서구"){%> selected="selected" <%}%>>달서구</option>
            <option value="달성군" <%if(eventTarget2=="달성군"){%> selected="selected" <%}%>>달성군</option>
            <option value="동구" <%if(eventTarget2=="동구"){%> selected="selected" <%}%>>동구</option>
            <option value="북구" <%if(eventTarget2=="북구"){%> selected="selected" <%}%>>북구</option>
            <option value="서구" <%if(eventTarget2=="서구"){%> selected="selected" <%}%>>서구</option>
            <option value="수성구" <%if(eventTarget2=="수성구"){%> selected="selected" <%}%>>수성구</option>
            <option value="중구" <%if(eventTarget2=="중구"){%> selected="selected" <%}%>>중구</option>
        </select>
        <select name="eventStatus" class="dropdown">
            <option value="">상태</option>
            <option value="0" <%if(eventStatus=="0"){%> selected="selected" <%}%>>진행중</option>
            <option value="1" <%if(eventStatus=="1"){%> selected="selected" <%}%>>마감</option>
        </select>
        <button class="btn btn-primary" type="submit" id="searchAction" style="margin-bottom: 10px;">검색</button>
    </form>
    <!-- Basic Bootstrap Table -->
    <div class="card">
        <!-- <h5 class="card-header">일반회원관리</h5> -->
        <div class="table-responsive text-nowrap">
            <form id="eventForm" name="eventForm" action="" method="">
                <input type="hidden" name="crewDiv" value="<%= crewDiv %>">
                <table class="table table-hove">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>투표기간</th>
                            <th>행사일시</th>
                            <th>위치</th>
                            <th>상태</th>
                            <th>투표</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <% if(results.length > 0) { %> <% for(var i = (page * page_num) - page_num; i < (page * page_num); i++) { 
                            if(i > length){
                                i++;
                            } else { %>
                        <tr class="pointer"
                            onclick="location.href='/admin/eventSelectOne?eventId=<%=results[i].eventId%>&page=<%=page%>&crewDiv=<%=crewDiv%><%=keepSearch%>'">
                            <td><%= results.length - i %></td>
                            <td><%=results[i].eventTitle%></td>
                            <td><%=results[i].voteStartDateFmt %> - <%=results[i].voteEndDateFmt %></td>
                            <td><%=results[i].eventDateFmt %></td>
                            <td><%=results[i].eventAdres %> <%=results[i].eventAdresDetail %></td>
                            <td><%=results[i].eventStatusFmt %></td>
                            <td onclick="event.cancelBubble=true;"><button name="voteEventId"
                                    class="btn btn-outline-primary" type="button" value="<%=results[i].eventId%>"
                                    data-bs-toggle="modal" data-bs-target="#modalScrollable" onclick="voteAjax(0)">
                                    투표명단</button></td>
                        </tr>
                        <% } %>
                        <% } %>
                        <% } else { %>
                        <tr>
                            <td colspan="7" style="text-align: center;">
                                등록된 목록이 없습니다.
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
    </form>
</div>
</div>
<!--/ Basic Bootstrap Table -->
<!-- 투표자 목록 모달 -->
<div class="modal fade" id="modalScrollable" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalScrollableTitle">투표자 명단</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form_box">
                <div class="modal-body">
                    <div class="col-xs-6">
                        <div class="nav-align-top mb-4">
                            <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
                                <li class="nav-item">
                                    <button type="button" class="nav-link eventId" role="tab" id="first"
                                        data-bs-toggle="tab" data-bs-target="#join" aria-controls="join"
                                        aria-selected="false" onclick="voteAjax(0)" value="">
                                        참여자
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button type="button" class="nav-link eventId" role="tab" data-bs-toggle="tab"
                                        id="second" data-bs-target="#noJoin" aria-controls="noJoin"
                                        aria-selected="false" onclick="voteAjax(1)" value="">
                                        불참자
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button type="button" class="nav-link eventId" role="tab" data-bs-toggle="tab"
                                        id="third" data-bs-target="#noChoose" aria-controls="noChoose"
                                        aria-selected="false" onclick="voteAjax()" value="">
                                        미정자
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="join" role="tabpanel">
                                    <div class="form-group row col-sm-12 here">

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="noJoin" role="tabpanel">
                                    <div class="form-group row col-sm-12 here">

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="noChoose" role="tabpanel">
                                    <div class="form-group row col-sm-12 here">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    onclick="location.reload">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- 투표자 목록 모달 -->
<div>
    <div class="demo-inline-spacing">
        <button type="button" class="btn btn-primary" id="enrollAction" onclick="enroll()">등록</button>
    </div>
    <% if(results.length > 0) { %>
    <div class="mt_20">
        <div class="paging" id="page_navi">
            <ul class="pagination customPaging">
                <li> <a href="/admin/eventSelect?page=1&crewDiv=<%=crewDiv%><%=keepSearch%>" class="num">
                        <<</a> </li> <li> <a <%if((page<startPage)||(page==1)){%><%} else {%>
                                href="/admin/eventSelect?page=<%= parseInt(page) - 1 %>&crewDiv=<%=crewDiv%><%=keepSearch%>"
                                class="num" <% } %>>
                                <</a> </li> <% for(var i = startPage; i < endPage ; i++){  %> <li class="paging_on">
                                    <a href="/admin/eventSelect?page=<%= i + 1 %>&crewDiv=<%=crewDiv%><%=keepSearch%>"
                                        <%if(page==i+1){%>class="selected" <%}%> class="num"><%= i + 1 %></a> </li>
                                        <% } %> <li> <a <%if(page>last-1){%><%} else {%>
                                            href="/admin/eventSelect?page=<%= parseInt(page) + 1 %>&crewDiv=<%=crewDiv%><%=keepSearch%>"
                                            class="num" <% } %>>></a></li>
                <li><a href="/admin/eventSelect?page=<%= last %>&crewDiv=<%=crewDiv%><%=keepSearch%>" class="num">>></a>
                </li>
            </ul>
        </div>
    </div>
    <% } %>
</div>
</div>

<script>
    const searchForm = $("form[name='searchForm']");
    $(document).ready(function () {
        //검색
        $("#searchAction").on("click", function () {
            searchForm.attr("action", "/admin/eventSelect");
            searchForm.attr("method", "get");
            searchForm.submit();
        })
    });

    const formObj = $("form[name='eventForm']");
    //등록
    function enroll() {
        formObj.attr("action", "/admin/eventInsert");
        formObj.attr("method", "get");
        formObj.submit();
    }

    //쿼리스트링
    function getUrlParams() {
        var params = {};
        window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
            params[key] = value;
        });
        return params;
    }
    var param = getUrlParams();

    if (param.crewDiv == 'all') {
        var menuItem = document.getElementsByClassName("menu-item");
        menuItem.className = 'menu-item';
        menuItem[6].className += ' open active';
    } else if (param.crewDiv == 'gf') {
        var menuItem = document.getElementsByClassName("menu-item");
        menuItem.className = 'menu-item';
        menuItem[12].className += ' open active';
    } else {
        var menuItem = document.getElementsByClassName("menu-item");
        menuItem.className = 'menu-item';
        menuItem[18].className += ' open active';
    }

    function voteAjax(choose) {
        var words = choose;
        var eventId1 = event.target.value
        $(".eventId").attr('value', eventId1);
        var eventId = $(".eventId").val();
        $.ajax({
            type: 'get',
            url: '/admin/voteSelect',
            data: {
                choose: words,
                eventId: eventId
            },
            dataType: 'json',
            success: function (data) {
                var str = ''
                if (data.joinyn.length > 0) {
                    $(".here").empty();
                    str += '<span> 총 인원 수 : ' + data.joinyn.length + ' 명</span>';
                    for (var i = 0; i < data.joinyn.length; i++) {
                        str += '<br><br><div class="cmtInfo-wrap col-sm-4" style="margin-bottom: 30px;">';
                        str += '<div class="cmtInfo">';
                        str += '<img src="../../../public/images/icon_admin.gif"><span>&nbsp;' + data
                            .joinyn[i].userName + '</span>';
                        str += '</div>';
                        str += '</div>';
                    }
                    $(".here").append(str);
                } else {
                    $(".here").empty();
                    var none = '';
                    none += '<div class="cmtInfo">';
                    none += '<span>투표 참여자가 존재하지 않습니다.</span>';
                    none += '</div>';
                    $(".here").append(none);
                }
            },
            error: function (e) {
                console.log('error:' + e.status);
            }
        });
    }

    // 모달창 닫기버튼 누르면 리셋
    $("button[name='voteEventId']").on("click", function () {
        $('#third').removeClass('active');
        $('#second').removeClass('active');
        $('#first').attr('aria-selected', true);
        $('#first').attr('class', 'nav-link eventId active');
    })
</script>