<div class="col-xs-6">
    <!-- HTML5 Inputs -->
    <div class="card mb-4">
        <% if(crewDiv == 'all') { %>
        <h5 class="card-header">총동창회 행사 상세</h5>
        <% } else if(crewDiv == 'gf') { %>
        <h5 class="card-header">골프회 행사 상세</h5>
        <% } else { %>
        <h5 class="card-header">산악회 행사 상세</h5>
        <% } %>
        <div class="card-body">
            <form id="eventUdtForm" name="eventUdtForm">
                <input type="hidden" name="page" value="<%=page%>">
                <input type="hidden" name="crewDiv" value="<%=crewDiv%>">
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">행사 번호</label>
                    <div class="col-md-10">
                        <input class="form-control" readonly type="text" value="<%= result[0].eventId %>" id="eventId"
                            name="eventId" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">대표이미지</label>
                    <div class="col-md-10">
                        <% if(result.length > 0 && result[0].eventImg != null && result[0].eventImg != '') {%>
                        <img src="../../../<%=result[0].eventImg%>" style="width:100%">
                        <% }else{ %>
                        등록된 이미지가 없습니다.
                        <% } %>
                        <input type="hidden" value="<%=result[0].eventImg%>" id="eventImg" name="eventImg" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">행사 제목</label>
                    <div class="col-md-10">
                        <input class="form-control" disabled type="text" value="<%= result[0].eventId %>" id="eventTitle"
                            name="eventTitle" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">행사 내용</label>
                    <div class="col-md-10">
                        <input class="form-control" disabled type="text" value="<%- result[0].eventContent %>" id="eventContent"
                            name="eventContent" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">행사 일시</label>
                    <div class="col-md-10">
                        <input class="form-control" disabled id="startDate" type="text" name="eventDate"
                            value="<%= result[0].eventDateFmt %>">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">행사 위치</label>
                    <div class="col-md-10">
                        <input class="form-control" disabled type="text" value="<%= result[0].eventAdres %>" id="eventAdres"
                            name="eventAdres" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">행사 상세 위치</label>
                    <div class="col-md-10">
                        <input class="form-control" disabled type="text" value="<%= result[0].eventAdresDetail %>"
                            id="eventAdresDetail" name="eventAdresDetail" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">투표 시작 일자</label>
                    <div class="col-md-10">
                        <input class="form-control" disabled id="voteStartDate" type="text" name="voteStartDate"
                            value="<%= result[0].voteStartDateFmt %>">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">투표 마감 일자</label>
                    <div class="col-md-10">
                        <input class="form-control" disabled id="voteEndDate" type="text" name="voteEndDate"
                            value="<%= result[0].voteEndDateFmt %>">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">투표 대상 1</label>
                    <div class="col-md-10">
                        <select class="dropdown" name="eventTarget1" disabled>
                            <option value="전체" <%if(result[0].eventTarget1=='전체'){%>selected<%}%>>전체</option>
                            <option value="임원" <%if(result[0].eventTarget1=='임원'){%>selected<%}%>>임원</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">투표 대상 2</label>
                    <div class="col-md-10">
                        <select class="dropdown" name="eventTarget2" disabled>
                            <option value="전체" <%if(result[0].eventTarget2=='전체'){%>selected<%}%>>전체</option>
                            <option value="동구" <%if(result[0].eventTarget2=='동구'){%>selected<%}%>>동구</option>
                            <option value="서구" <%if(result[0].eventTarget2=='서구'){%>selected<%}%>>서구</option>
                            <option value="남구" <%if(result[0].eventTarget2=='남구'){%>selected<%}%>>남구</option>
                            <option value="북구" <%if(result[0].eventTarget2=='북구'){%>selected<%}%>>북구</option>
                            <option value="중구" <%if(result[0].eventTarget2=='중구'){%>selected<%}%>>중구</option>
                            <option value="수성구" <%if(result[0].eventTarget2=='수성구'){%>selected<%}%>>수성구</option>
                            <option value="달서구" <%if(result[0].eventTarget2=='달서구'){%>selected<%}%>>달서구</option>
                            <option value="달성구" <%if(result[0].eventTarget2=='달성구'){%>selected<%}%>>달성구</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">노출</label>
                    <div class="col-md">
                        <div class="form-check form-check-inline mt-3">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="userCrew1" value="option1" />
                            <label class="form-check-label" for="inlineCheckbox1">총동창회</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="userCrew1" value="option2" />
                            <label class="form-check-label" for="inlineCheckbox2">골프회</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="userCrew1" value="option2" />
                            <label class="form-check-label" for="inlineCheckbox2">산악회</label>
                        </div>
                        <input class="btn rounded-pill btn-info" type="button" value="선택취소" onclick="test()">
                    </div>
                </div> -->
                <!-- <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">첨부파일2</label>
                    <div class="col-md-10">
                        <input class="form-control" disabled type="file" id="file" name="file" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">첨부파일3</label>
                    <div class="col-md-10">
                        <input class="form-control" disabled type="file" id="file" name="file" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">첨부파일4</label>
                    <div class="col-md-10">
                        <input class="form-control" disabled type="file" id="file" name="file" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">첨부파일5</label>
                    <div class="col-md-10">
                        <input class="form-control" disabled type="file" id="file" name="file" />
                    </div>
                </div> -->
                <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-primary" id="update_btn">수정</button>
                    <button type="button" class="btn btn-danger" id="delete_btn">삭제</button>
                    <button type="button" class="btn btn-dark"
                        onclick="location.href='/admin/m_event?page=<%=page%>&crewDiv=<%=crewDiv%><%=keepSearch%>'">목록</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        var formObj = $("form[name='eventUdtForm']");
        $(document).ready(function () {
            // 수정 폼 연결
            $("#update_btn").on("click", function () {
                formObj.attr("action", "/admin/m_event/eventUdtForm");
                formObj.attr("method", "post");
                formObj.submit();
            });
            // 삭제
            $("#delete_btn").on("click", function () {
                formObj.attr("action", "/admin/userDelete/one");
                formObj.attr("method", "get");
                if (confirm("회원을 삭제하시겠습니까?") == true) {
                    formObj.submit();
                } else {
                    return;
                }
            });
        })
    </script>